@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
/* font-family: 'Source Sans Pro', sans-serif; */

:root{
    --title:#ECE4EF;
    --description:#D8CEDE;
    --description-info:#9C83A7;

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@keyframes animation-body{
    0%{
        background-position: 0%;
    }

    100%{
        background-position: 100%;
    }
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    width: 100%;
    height: 100vh;
    /* background-image:linear-gradient(102.32deg, #030422 -2.74%, #090114 101.6%); */
     background-image:linear-gradient(102.32deg, #030422 -2.74%, #17092b 101.6%);
    
    background-size: 500% 100%;
    animation: animation-body 4s linear infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
}



div.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}

div.card-back{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-back{
    width: 348px;
    height: 486px;
    box-shadow: 0px 113px 45px rgba(0, 0, 0, 0.02), 0px 64px 38px rgba(0, 0, 0, 0.08), 0px 28px 28px rgba(0, 0, 0, 0.13), 0px 7px 16px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}
/* : = pseudoclasse */
.card-back:first-child{
    background-image: url(assets/background1.png);
    font-size: 32px;
}

.card-back:last-child{
    background-image: url(assets/background3.png);
    font-size: 32px;
}

.card-back h1{
    color: transparent;
    -webkit-text-stroke: 1px #312D74;
}

.card-front{
    position: relative;
    width: 436px;
    height: 608px;
    background-image: url(assets/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 113px 45px rgba(0, 0, 0, 0.02), 0px 64px 38px rgba(0, 0, 0, 0.08), 0px 28px 28px rgba(0, 0, 0, 0.13), 0px 7px 16px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
    padding: 43px 0px 0px 24px;     
    display: flex;
    
}



.card-front div.cabecalho{
    width: 263px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

div.cabecalho h2{
    color: var(--title);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4);
    line-height: 40px;
    letter-spacing: 0.08rem;
}

div.cabecalho p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: var(--description-info);
}



div.character img{
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

aside{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
    
    
}

aside div.infos{
    font-size: 13px;
    
}

aside div.infos span{
    color: var(--description-info);
}

aside div.infos h4{
    width: 198px;
    margin-top: 2px;
}

