
label{
    display: flex;
    flex-direction: column;
    gap:5px;
    color: #262626;
    font-weight: bold;
    font-size: 1.3rem;

    margin-bottom: .9rem;
}

label input{
    padding: 9px;
    border-radius: 5px;
    border: none;
    background-color: white;

    outline: none;

    transition: .2s;
}

label input::placeholder{
    color: #7b7b7b;
}

label input:focus{
    box-shadow: 0px 0px 10px #26262628;
}